@page "/"

<PageTitle>Index</PageTitle>

<style>
	.container {
		width: 400px;
	}

	button {
		font-size: 50px;
		height: 100px;
		width: 100px;
	}
</style>

<div class="container">
	<div class="row">
		@foreach (var animal in shuffledAnimals)
		{
			<div class="col-3">
				<button type="button" class="btn btn-outline-dark">
					<h1>@animal</h1>
				</button>
			</div>
		}
	</div>
</div>

@code {
	List<string> animalEmojis = new List<string>()
{
"🐶", "🐶",
"🐷", "🐷",
"🦁", "🦁",
"🦀", "🦀",
"🦄", "🦄",
"🐳", "🐳",
"🐔", "🐔",
"🦖", "🦖",
};
	List<string> shuffledAnimals = new List<string>();
	protected override void OnInitialized()
	{
		SetUpGame();
	}

	private void SetUpGame()
	{
		Random random = new Random();
		shuffledAnimals = animalEmojis.OrderBy(item => random.Next()).ToList();
	}

}